.activities {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}

.activity {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
}

.activity p {
    padding: 0 30px;
    text-align: justify;
    color: #4D4D4D;
}

.activity .action {
    width: fit-content;
    padding: 2px 20px;
    border-radius: 5px;
    color: white;
    margin: 20px 30px;
    margin-bottom: 0;
}

.activity .date {
    text-align: end;
    color: #4D4D4D;
    margin: 20px 30px;
    margin-top: 0;
}

.Question_content .activity {
    background-color: #F8F7FE;
}

.Question_content .action{
    background-color: #7C5BF0;
}

.Answer_content .activity{
    background-color: #FEF7F7;
}

.Answer_content .action{
    background-color: #FF5757;
}

.Comment_content .activity{
    background-color: #F2FBEE;
}

.Comment_content .action{
    background-color: #00BF57;
}

.Question_content .circle {
    background-color: #D2CFFF;
    color: #7C5BF0;
}

.Answer_content .circle {
    background-color: #FFCBCB;
    color: #FF5757;
}

.Comment_content .circle {
    background-color: #D8F4CD;
    color: #00BF57;
}


.activity-wrap {
    padding-left: 60px;
    display: flex;
    gap: 40px;
    position: relative;
}


.activity-wrap .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-width: 42px; 
    height: 40px;
    border-radius: 50%; 
    margin-top: 20px;
}

.activity-wrap::before {
    content: '';
    position: absolute;
    height: calc(100% + 40px); 
    width: 1px; 
    background-color: #DBDBDB; 
    top: -20px; 
    left: 80px; 
    z-index: -1; 
}

.activity a {
    color: #7C5BF0;
    font-weight: 500;
}