@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    --dark-purple: #6D49EB;
    --purple: #7C5BF0;
    --light-purple: #E7E1FC;
    --gray: #808194;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body, html {
    height: 100%;  
    margin: 0 auto;
}

main {
    padding: 2rem 3rem;
    min-height: 150vh;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: var(--dark-purple);
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.purple-section {
    position: absolute;
    top: 90px;
    background-color: var(--purple);
    height: 250px;
    width: 100%;
    z-index: -1;
}

.white {
    color: white !important;
}

.purple {
  color: var(--dark-purple);
}