ul.breadcrumb {
    display: flex;
    padding-top: 5px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: " > ";
}

ul.breadcrumb li.white+li:before {
    padding: 8px;
    color: white;
    content: " > ";
} 

ul.breadcrumb a{
    color: black;
}

ul.breadcrumb a:hover {
    color: var(--dark-purple);
}