.questions-sec, .user-manage-section, .faq-sec {
    margin: 20px;
}

.questions-sec .questions-actions {
    display: flex;
    justify-content: space-between;
}

.questions-sec .questions-actions .questions-sort {
    display: flex;
    gap: 30px;
}

.questions-sec .questions-actions #newQuestion {
    font-size: 18px;
    text-align: center;
    background-color: #D2CFFF;
    width: 300px;
    padding: 5px 0;
    color: #7C5BF0;
    border-radius: 5px;
    transition: all 400ms ease;
    left: 4rem;
}

.questions-sec .questions-actions #newQuestion:hover {
    background-color: #7C5BF0;
    color: white;
}

.questions-sec .questions-actions .questions-sort button {
    font-size: 18px;
    background-color: #D2CFFF;
    width: 130px;
    padding: 5px 0;
    color: #7C5BF0;
    border-radius: 5px;
    transition: all 400ms ease;
}

.questions-sec .questions-actions .questions-sort .selected, .questions-sec .questions-sort button:hover {
    background-color: #7C5BF0;
    color: white;
}


.questions, .answers {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.questions .question-card, .answer-card {
    display: flex;
    gap: 20px;
    padding: 40px 0;
    border-top: 1px solid #e6e7f3;
}

.answer-card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 40px 0;
    border-top: 1px solid #e6e7f3;
}

.question-card .q-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 12%;
    padding-top: 12px;
}

.question-card .q-stats span {
    text-align: right;
    font-size: 18px;
}

.question-card .q-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-card .q-content h2 {
    font-size: 30px;
    font-weight: 500;
    transition: all 200ms ease;
}

.question-card .q-content h2:hover {
    color: #7C5BF0;
    cursor: pointer;

}

.question-card .q-content p {
    color: #525252;
    font-size: 18px;
    line-height: 1.5;
}

.question-card .q-content span {
    text-align: right;
}

.question-card .q-content a {
    font-weight: 700;   
}

.question-card:last-child {
    border-bottom: 1px solid #e6e7f3;
}


.user-questions, .user-answers{
    padding: 2rem 4rem;
}

.user-questions h1{
    font-weight:500;
}

.no-questions p, .no-answers p{
    padding: 3rem;
    text-align: center;
    font-size:larger;
}

.no-questions-image {
    padding: 2rem 29rem;
}

.new-question-form{
    margin: 30px auto;
    width: 1200px;
    height: fit-content;
    padding: 50px;
    background-color: white;
    box-shadow: 0 8px 30px 0 rgba(50,53, 130, 0.08);
    border-radius: 15px;
    border: 1px solid #E6E7F3;
}

.new-question-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-question-form label {
    display: block; 
    font-weight: 500;
    font-size: 1.2rem;
}

.new-question-form textarea {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA; 
    margin-top: 10px;
    resize: none; 
    outline:none;
    padding: 20px;
}

.new-question-form select, .new-question-form input {
    font-size: 18px;
    padding: 10px 20px 10px 10px;
    width: 360px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA; 
    resize: none; 
    outline:none;
}

.form-grid {
    display: grid;
    grid-template-columns: 100px 1fr ;
    grid-template-rows: repeat(3, auto); 
    row-gap: 30px;
    align-items: center;
}

.new-tags {
    grid-column: span 2;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.new-tag {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #D2CFFF;
    padding: 5px 15px;
    border-radius: 5px;
}

.tag-con {
    display: flex;
    justify-content: space-between;
}

.tag-btns {
    display: flex;
    gap: 20px;
}

.tag-btns button {
    padding: 0px 30px;
}

.tag-btns button, #up-f {
    transition: all 300ms ease;
    border-radius: 10px;
}

#up-f {
    padding: 5px 30px;
}

#up-f, #create-tag {
    font-size: 20px;
}

#cancel-tag {
    border: 1px solid #525252;
}

#create-tag, #conf-tag, #up-f {
    background-color: #D2CFFF;
    color: #7C5BF0;
}

#create-tag:hover, #conf-tag:hover, #up-f:hover {
    background-color: #7C5BF0;
    color: white;
}

.new-tag {
    position: relative;
}

.new-tag span {
    color: #7C5BF0;
}

.new-tag ion-icon:hover {
    color: rgb(220 38 38);
    cursor: pointer;
}

.new-question-form #placeholder{
    color:#7C5BF0
}

.new-question-form textarea:focus {
    border: 1px solid #7C5BF0; 
}

.new-question-form #content{
    height: 200px;
}

.new-question-form #title{
    height: auto;
}

.new-question-form label span {
    color: #7C5BF0;
}

.upload-files {
    display: flex;
    gap: 30px;
    align-items: center;
}

.question-img, .question-files {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.question-img div {
    position: relative;
    text-align: center;
    color: white;
}

.question-files div {
    margin-top: 20px;
    position: relative;
    border: 1px solid #e6e7f3;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.question-files ion-icon:first-child {
    color: #525252;
}

.question-files .close, .new-tag ion-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
    color: #FF5757;
}

.question-img img {
    display: block;
    max-width: 600px;
    max-height: 300px;
    border: 1px solid #e6e7f3;
    border-radius: 10px;
}

.question-img ion-icon {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 40px;
    color: #FF5757;
}

.question-img ion-icon:hover, .question-files .close {
    cursor: pointer;
}

#create-question {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #7C5BF0;
    color: white;
    font-size: 20px;
    transition: all 400ms ease;
}

#create-question:hover {
    transform: scale(0.95);
}

.answer-card:last-child {
    border-bottom: 1px solid #e6e7f3;
}

.answer-card p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}
.answer-card a {
    margin-bottom: 5px;
    margin-left: 20px;
}

.answer-card a > span{
    position: relative;
    top: -5px; 
}

.answer-card a strong {
    font-weight: 500;
}

.answer-card a span span{
    color: #888;
}

.answer-card a span span:hover {
    color: #7C5BF0;
}

.answer-card a::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 20px; 
    border-top: 2px solid #525252; 
    border-left: 2px solid #525252; 
    margin-right: 5px;
    margin-bottom: -8px; 
}

.q-delete .delete-button{
    background-color: var(--dark-purple);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.a-delete .delete-button{
    background-color: var(--dark-purple);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


@media screen and (max-width: 1296px){
    .new-question-form{
        width: 100%;
    }
}

@media screen and (max-width: 593px){
    .modal-content {
        width: 300px;
    }

    .loginModalButtons{
        display: grid;
        justify-content: center;
        gap:20px   
    }
}
