.search-bar {
    display: flex;
    height: max-content;
    width: fit-content;
    margin: 30px auto;
    gap: 30px;
    font-size: 18px;
}

.search-bar .filter-condition, .search-bar .user-search, .search-bar .order-condition {
    border: 2px solid #7C5BF0;
    border-radius: 7px;
    padding: 5px 10px;
    position: relative;
}  

.search-bar button {
    background-color: #7C5BF0;
    color: white;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 7px;
    transition: all 300ms ease;
}

.search-bar button:hover {
    scale: 0.95;
}

.search-bar ion-icon {
    position: relative;
    top: 2px;
}

.search-bar .filter-condition select, .search-bar .order-condition select {
    border: none;
    font-size: 18px;
    background-color: transparent;
}

.search-bar .user-search {
    width: 400px;
}

.search-bar .user-search input {
    font-size: 18px;
}

.users-table {
    width: 100%;
    margin: 40px 0;
    text-align: left;
    border-collapse: collapse; 
    font-size: 18px;
    border-radius: 15px;
    background-color: #7C5BF0;
    column-gap: 20px;
}

.users-table th {
    font-weight: 500;
    color: white;
    padding: 15px 0;
}

.users-table th:nth-child(1){
    padding-left: 100px;
    width: 5%;
}
 
.users-table th:nth-child(2){
    width: 11%;
}

.users-table th:nth-child(3){
    width: 11%;
}

.users-table th:nth-child(4){
    width: 15%;
}

.users-table th:nth-child(5){
    width: 8%;
}

.users-table th:nth-child(6){
    width: 7%;
}

.users-table th:nth-child(7) {
    text-align: center;
    width: 7.5%;
    padding-right: 20px;
}

.users-table td:nth-child(7) {
    text-align: center;
    padding-right: 20px !important;
}


.users-table img {
    margin: 0 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.users-table tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.users-table tbody tr:nth-child(even) {
    background-color: #E5E5E5;
}

.users-table .user-info td{
    padding: 10px 0;
}

.users-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px; 
}

.users-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.users-table select {
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 5px;
}

.users-table .active {
    border: 1px solid #00BF57;
    background-color: #CFEBC4;
    color: #00BF57;
    border-radius: 20px;
}

.users-table .banned {
    border: 1px solid #FF3131;
    background-color: #F5D3D3;
    color: #FF3131;
    border-radius: 20px;
}

.Bronze {
    color: #9F4747;
}

.Gold {
    color: #FBA522;
}

.Master {
    color: #7C5BF0;
}

.users-table select option {
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
}

.no-records{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no-records img {
    height: 400px;
    width: 400px;
}

.delete-user-button ion-icon {
    color: #c52b2b;
}

@media (max-width: 1020px) {
    .search-bar .user-search {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    .users-table th:nth-child(6){
        padding-right: 50px;
    }
}

@media (max-width: 940px) {
    .users-table th:nth-child(4), .user-info td:nth-child(4)  {
        display: none;
    }
    .search-bar .user-search {
        width: 200px;
    }
    .search-bar .user-search input {
        width: 150px;
    }
}


@media (max-width: 830px) {
    .search-bar {
        width: 100%;
    }
    .search-bar .user-search {
        width: 170px;
    }
    .search-bar .user-search input {
        width: 80%;
    }
}

@media (max-width: 680px) {
    .users-table th:nth-child(5), .user-info td:nth-child(5)  {
        display: none;
    }
}

@media (max-width: 550px) {
    .search-bar {
        flex-direction: column;
    }
    .search-bar .user-search{
        width: 100%;
    }

    .users-table th:nth-child(1), .user-info td:nth-child(1)  {
        display: none;
    }
    .users-table th:nth-child(2), .user-info td:nth-child(2)  {
        padding-left: 20px;
    }
}

@media (max-width: 450px) {
    .search-bar {
        flex-direction: column;
    }
    .search-bar .user-search{
        width: 100%;
    }

    .users-table th:nth-child(1), .user-info td:nth-child(1)  {
        display: none;
    }
}