openapi: 3.0.0

info:
 version: '1.0'
 title: 'GameOn Web API'
 description: 'Web Resources Specification (A7) for GameOn'

servers:
- url: http://lbaw.fe.up.pt
 description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Users'
 - name: 'M03: Posts'
 - name: 'M04: Games'
 - name: 'M05: Administration'

paths:
 /login: 
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: GST'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: GST'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:         
                 type: string
               password:    
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to home page.'
                 value: '/home'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   get:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to home page.'
                 value: '/home'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: GST'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: GST'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               username:
                 type: string
               email:
                 type: string
                 format: email
               password:
                 type: string
                 format: password
               password_confirmation:
                 type: string
                 format: password
             required:
                - name
                - username
                - email
                - password
                - password_confirmation

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to home page.'
                 value: '/home'
               302Failure:
                 description: 'Failed authentication. Redirect again to register form.'
                 value: '/register'

 /home:
    get:
      operationId: R201
      summary: 'R201: View GameOn home page'
      description: 'Show GameOn home page. Access: GST, USR'
      tags:
        - 'M02: Users'
      
      responses:
       '200':
         description: 'Ok. Show home page'

 /users:
    get:
      operationId: R202
      summary: 'R202: View all users'
      description: 'Show all GameOn users. Access: GST, USR'
      tags:
        - 'M02: Users'

      responses:
        '200':
          description: 'Ok. Show users lists'
      
 /users/{id}:
    get:
      operationId: R203
      summary: 'R203: View user profile page'
      description: 'Show the individual user profile. Access: GST, USR'
      tags:
        - 'M02: Users'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show User Profile UI'

 /edit_profile/{id}:

    get:
      operationId: R204
      summary: 'R204: Edit user profile page'
      description: 'Shows the edit profile page of the user. Access: OWN'
      tags:
        - 'M02: Users'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. You can now edit. Show edit profile UI.'
        '401':
          description: 'Unauthorized. You cannot edit this profile.'
          headers:
            Location:
              schema:
                type: string
              examples:
                401Success:
                  description: 'Unauthorized. Redirect to user profile.'
                  value: '/users/{id}'
    
    post:
      operationId: R205
      summary: 'R205: Edit user profile action'
      description: 'Processes and saves the changes made by user. Access: OWN'
      tags:
        - 'M02: Users'

      

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                  format: email
                description:
                  type: string
              required:
              - name
              - username
              - email
              - description

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful update. Redirect to user profile page.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed update. Please try again.'
                  value: '/api/user/{id}/edit'
 
 
 /users/{id}/questions:
    get:
      operationId: R206
      summary: 'R206: View user questions'
      description: 'Show user questions page. Access: GST, USR'
      tags:
        - 'M02: Users'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'OK. Show the questions page for an individual user'


 /user/{id}/answers:
    get:
      operationId: R207
      summary: 'R207: View user answers'
      description: 'Show user answers page. Access: GST, USR'
      tags:
        - 'M02: Users'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'OK. Show the answers page for an individual user'
 

 /api/users:
    get:
      operationId: R208
      summary: 'R208: Search for users'
      description: 'Search for users with filter. Access: GST, USR'
      tags:
        - 'M02: Users'

      parameters:
        - in: query
          name: search
          description: 'Search content'
          schema:
            type: string
          required: true

        - in: query
          name: filter
          description: 'Filter users'
          schema:
            type: string
          required: true
        
         - in: query
          name: order
          description: 'Order users'
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Success. Returns HTML code containing the list of users that match the search'

 /questions:
    get:
      operationId: R301
      summary: 'R301: View all questions'
      description: 'Show all questions. Access: GST, USR'
      tags:
        - 'M02: Posts'
      
      responses:
        '200':
          description: 'OK. Show the questions page'


 /categories:
    get:
      operationId: R401
      summary: 'R401: View all game categories'
      description: 'Show all game categories. Access: GST, USR'
      tags:
        - 'M04: Games'

      responses:
        '200':
          description: 'OK. Show the game categories page'

 /categories/{id}:
    get:
      operationId: R402
      summary: 'R402: View game category page'
      description: 'Show game category page. Access: GST, USR'
      tags:
        - 'M04: Games'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'OK. Show the game category page'

 /game/{id}:
    get:
      operationId: R403
      summary: 'R403: View game page'
      description: 'Show game page. Access: GST, USR'
      tags:
        - 'M04: Games'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'OK. Show the game page'
  

 /api/users/{id}:
    post:
      operationId: R501
      summary: 'R209: Update user status'
      description: 'Update user status (ban or unban user account). Access: ADM'
      tags:
        - 'M02: Administration'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_status:
                  type: string
                  enum: ['Active', 'Banned']
                  description: 'The new status for the user account (active or banned).'
      responses:
        '200':
          description: 'Success. User status updated.'
        '401':
          description: 'Unauthorized. The action requires proper authentication and authorization.'
        '404':
          description: 'User not found.'
  